/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

body > div:first-child {
	display: none;
	padding: 10px 0px 10px 0px;
	justify-content: center;
	align-items: center;
	background: black;
	position: relative;
	z-index: 999; /* force boxTop on top for no background transparency */
}

body > div:first-child a {
	color: white;
}

body > div:first-child button {
	background-color: white;
	border-radius: 60px;
	padding: 11px 23px 11px 23px;
	margin-left: 21px;
}

header, main {
	background: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav ul li a {
	text-decoration: none;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

nav ul li a.active {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

nav ul li a:hover {
	color: #B1663C
}

li:hover {
	color: #B1663C;
}

.erreur {
	color: #D65353;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}

/* add margin-left for figcaption - 30px (original margin-left of link) */
#introduction figure figcaption {
	margin-left: calc(10% - 30px);
	margin-top: 15px;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction article > div:first-child {
	margin-left: -30px;
	margin-bottom: 20px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.search-filter {
	display: flex;
	justify-content: center;
	margin-bottom: 51px;
}

.search-filter > div > button {
	cursor: pointer;
	text-align: center;
	min-width: 100px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	background-color: transparent;
	border: 1px solid #1D6154;
	color: #1D6154;
	border-radius: 60px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-right: 10px;
}

.search-filter > div > button[class*="btn-active"] {
	background-color: #1D6154;
	color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#login,
#contact {
	width: 50%;
margin: auto;
}
#login > *,
#contact > * {
	text-align: center;

}
#login h2,
#contact h2{
	margin-bottom: 20px;
}
#login form,
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input,
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label,
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#login a {
	color: #3D3D3D;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
}

footer {
/*	background: #FFFFFF;*/
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



/* Style for Modal */

* {box-sizing: border-box;}

.js-modal {
	display: none;
	text-decoration: none;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin-left: 30px;

}

.fa-pen-to-square {
	padding-right: 10px;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	animation: fadeIn .5s both;
}

.modal-wrapper {
	display: flex;
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	border-radius: 10px;

}

.modal[aria-hidden="true"] {
	animation-name: fadeOut;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

/* END Style for Modal */

/* Style in Modal */

.modal-wrapper {
	flex-direction: column;
}

.modal-wrapper div {
	display: flex;
}

.modal-wrapper a {
	text-decoration: none;
	color: #000000;
}

.modal-wrapper > div:first-child { /* icon close */
	flex-direction: row;
	justify-content: flex-end;
}

.modal-wrapper > div:nth-child(2) { /* text gallerie photo */
	justify-content: center;
	margin-top: 16px;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: #000000;
}

.modal-wrapper > div:nth-child(3) {
	width: 100%;
	justify-content: center;
}

.modal-wrapper > div:nth-child(3) > div { /* gallery */
	width: 420px;
	flex-wrap: wrap;
	grid-column-gap: 6px;
	grid-row-gap: 13px;
}

.modal-wrapper .gallery figure img {
	width: 78px;
}

/* END Style in Modal */